<ion-view title="Program-3">
  <ion-content class="has-header">
  	<div class="item item-divider item-dark">
      AIM
    </div>
    <div class="card ">
    	<p>
        To perform various operations i.e., insertions and deletions on 2-3 trees.
		  </p>
    </div>
    <div class="item item-divider item-dark">
      PROGRAM
    </div>
    <div class="card">
    	 
    </div>
    <div class="item item-divider item-dark">
      OUTPUT
    </div>
    <div class="card">
    	
    </div>
  </ion-content>
</ion-view>
