<ion-view title="AJWT lab">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list >
    <div class="item item-divider item-dark">
      Week-1
    </div>
    <ion-item ui-sref='app.ajwt_w1' animation="none">
      1.Home page 
    </ion-item>
    <ion-item ui-sref='app.ajwt_w1'>
      2.Login page 
    </ion-item>
    <ion-item ui-sref='app.ajwt_w1'>
      3.Catalogue page 
    </ion-item>
    <div class="item item-divider item-dark">
      Week-2
    </div>
    <ion-item ui-sref='app.ajwt_w2'>
      1.Cart page 
    </ion-item>
    <ion-item ui-sref='app.ajwt_w2'>
      2.Registration page 
    </ion-item>
    <div class="item item-divider item-dark">
      Week-3
    </div>
    <ion-item ui-sref='app.ajwt_w3'>
      Validation 
    </ion-item>
    <div class="item item-divider item-dark">
      Week-4
    </div>
    <ion-item ui-sref='app.ajwt_w4'>
      Designing a Webpage(CSS) 
    </ion-item>
    <div class="item item-divider item-dark">
      Week-5
    </div>
    <ion-item ui-sref='app.ajwt_w5'>
      Display Book info(XML,DTD,XSL)
    </ion-item>
    <div class="item item-divider item-dark">
      Week-6
    </div>
    <ion-item ui-sref='app.ajwt_w6'>
      Visual Beans
    </ion-item>
    <div class="item item-divider item-dark">
      Week-7
    </div>
    <ion-item ui-sref='#'>
      Install TOMCAT &amp; APACHE
    </ion-item>
    <ion-item class="item item-assertive" ui-sref='#'>
      NOTE: Week-7 Refer Google
    </ion-item>
    <div class="item item-divider item-dark">
      Week-8
    </div>
    <ion-item ui-sref='app.ajwt_w9'>
      User Authentication
    </ion-item>
    <div class="item item-divider item-dark">
      Week-9
    </div>
    <ion-item ui-sref='app.ajwt_w8'>
      JDBC Connectivity
    </ion-item>
    <div class="item item-divider item-dark">
      Week-10
    </div>
    <ion-item ui-sref='app.ajwt_w10'>
      JSP Pages
    </ion-item>
    <div class="item item-divider item-dark">
      Week-11
    </div>
    <ion-item ui-sref='app.ajwt_w11'>
      Catelogue page(JDBC)
    </ion-item>
    <div class="item item-divider item-dark">
      Week-12
    </div>
    <ion-item ui-sref='app.ajwt_w12'>
      HTTP sessions
    </ion-item>
    <!--
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    -->
    </ion-list>
  </ion-content>
</ion-view>
