<ion-view title="OOP(C++) lab">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list >
    <div class="item item-divider item-dark">
      OOP(C++) lab
    </div>
    <ion-item ui-sref='app.cpp_1'>
      1.Illustrating Variable scope 
    </ion-item>
    <ion-item ui-sref="app.cpp_2">
      2.Swapping integer values
    </ion-item>
    <ion-item ui-sref="app.cpp_3">
      3.Number is even or odd 
    </ion-item>
    <ion-item ui-sref="app.cpp_4">
      4.Quadratic equation(Switch)
    </ion-item>
    <ion-item ui-sref="app.cpp_5">
      5.Multiply 2 variables
    </ion-item>
    <ion-item ui-sref="app.cpp_6">
      6.Quadratic equation(Streams) 
    </ion-item>
    <ion-item ui-sref="app.cpp_7">
      7.Sort integer numbers
    </ion-item>
    <ion-item ui-sref="app.cpp_8">
      8.Factorial using recursion
    </ion-item>
    <ion-item ui-sref="app.cpp_9">
      9.pass by value,reference,address
    </ion-item>
    <ion-item ui-sref="app.cpp_10">
      10.Illustrating function overloading 
    </ion-item>
   	<ion-item ui-sref="app.cpp_11_a">
      11-a.Swapping without function overloading
    </ion-item>
    <ion-item ui-sref="app.cpp_11_b">
      11-b.Swapping with function overloading
    </ion-item> 
    <ion-item ui-sref='app.cpp_12'>
      12.Illustrating inline functions 
    </ion-item>
    <ion-item ui-sref="app.cpp_13">
      13.Illustrating Friend function
    </ion-item>
    <ion-item ui-sref="app.cpp_14">
      14.Illustrating Exception Handling
    </ion-item>
    <ion-item ui-sref="app.cpp_15">
      15.Illustrating Function Template
    </ion-item>
    <ion-item ui-sref="app.cpp_16_a">
      16-a.Overloading increment and decrement
    </ion-item>
    <ion-item ui-sref="app.cpp_16_b">
      16-b.illustrating overloading binary+
    </ion-item>
    <ion-item ui-sref="app.cpp_17">
      17.Illustrating Virtual Function
    </ion-item>
    <ion-item ui-sref="app.cpp_18">
      18.Maths Operations on Complex Numbers
    </ion-item>
    <ion-item ui-sref="app.cpp_19">
      19.String processing functions
    </ion-item>
    <ion-item ui-sref="app.cpp_20">
      20.Constructor overloading
    </ion-item>
   	<ion-item ui-sref="app.cpp_21">
      21.Illustrating copy constructor
    </ion-item>
    <ion-item ui-sref="app.cpp_22">
      22.Member functions  
    </ion-item> 
    <ion-item ui-sref="app.cpp_23">
      23.Overloading ++ operator
    </ion-item>
    <ion-item ui-sref="app.cpp_24">
      24.Overloading New and Delete
    </ion-item>
    <ion-item ui-sref="app.cpp_25">
      25.Illustrating Abstract Classes
    </ion-item>
   	<ion-item ui-sref="app.cpp_26_a">
      26-a.Inheritence (Multilevel)
    </ion-item>
    <ion-item ui-sref="app.cpp_26_b">
      26-b.Inheritence (Multiple) 
    </ion-item> 
    <ion-item ui-sref="app.cpp_26_c">
      26-c.Inheritence (Hybrid)
    </ion-item>
   	<ion-item ui-sref="app.cpp_27">
      27.Illustrating Virtual Classes
    </ion-item>
    <ion-item ui-sref="app.cpp_28">
      28.Overloading function template 
    </ion-item> 
    <ion-item ui-sref="app.cpp_29">
      29.Illustrating Class Template
    </ion-item>
    
    <!--
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    -->
    </ion-list>
  </ion-content>
</ion-view>
