<ion-view title="C lab">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list >
    <div class="item item-divider item-dark">
      Exercise-1
    </div>
    <ion-item ui-sref="app.c_ex1_a">
      a.Area of Triangle
    </ion-item>
    <ion-item ui-sref="app.c_ex1_b">
      b.Largest of 3 numbers
    </ion-item>
    <ion-item ui-sref="app.c_ex1_c">
      c.Swap two numbers
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-2
    </div>
    <ion-item ui-sref="app.c_ex2_a">
      a.2's complement of a numbers
    </ion-item>
    <ion-item ui-sref="app.c_ex2_b">
      b.Roots of Quadratic Equation
    </ion-item>
    <ion-item ui-sref="app.c_ex2_c">
      c.Two integer operanc
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-3
    </div>
    <ion-item ui-sref="app.c_ex3_a">
      a.Sum of digits &amp; Reverse
    </ion-item>
    <ion-item ui-sref="app.c_ex3_b">
      b.Fibonacci sequence
    </ion-item>
    <ion-item ui-sref="app.c_ex3_c">
      c.Generate all Primes
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-4
    </div>
    <ion-item ui-sref="app.c_ex4_a">
      a.Multiplication table
    </ion-item>
    <ion-item ui-sref="app.c_ex4_b">
      b.Binary Equivalent
    </ion-item>
    <ion-item ui-sref="app.c_ex4_c">
      c.Armstrong Number
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-5
    </div>
    <ion-item ui-sref="app.c_ex5_a">
      a.Largest &amp; Smallest Numbers
    </ion-item>
    <ion-item ui-sref="app.c_ex5_b">
      b.Linear Search
    </ion-item>
    <ion-item ui-sref="app.c_ex5_c">
      c.Binary Search
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-6
    </div>
    <ion-item ui-sref="app.c_ex6_a">
      a.Sorting of an Array
    </ion-item>
    <ion-item ui-sref="app.c_ex6_b">
      b.Matrix addition &amp; multiplication
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-7
    </div>
    <div class="item item-divider item-balanced">
      Use functions
    </div>
    <ion-item ui-sref="app.c_ex7_a">
      i.Insert a Sub String
    </ion-item>
    <ion-item ui-sref="app.c_ex7_b">
      ii.Delete n Characters
    </ion-item>
    <ion-item ui-sref="app.c_ex7_c">
      iii.Replace character of Strings
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-8
    </div>
    <div class="item item-divider item-balanced">
      Use Structure
    </div>
    <ion-item ui-sref="app.c_ex8_a">
      i.Reading complex numbers
    </ion-item>
    <ion-item ui-sref="app.c_ex8_b">
      ii.Writing complex numbers
    </ion-item>
    <ion-item ui-sref="app.c_ex8_c">
      iii.Addition of complex numbers
    </ion-item>
    <ion-item ui-sref="app.c_ex8_d">
      iv.Multiplication of complex numbers
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-9
    </div>
    <div class="item item-divider item-balanced">
      String Operations
    </div>
    <ion-item ui-sref="app.c_ex9_a">
      i.Concatenate two strings
    </ion-item>
    <ion-item ui-sref="app.c_ex9_b">
      ii.Append two strings
    </ion-item>
    <ion-item ui-sref="app.c_ex9_c">
      iii.Compare two strings
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-10
    </div>
    <div class="item item-divider item-balanced">
      String Operations
    </div>
    <ion-item ui-sref="app.c_ex10_a">
      i.Length of a string
    </ion-item>
    <ion-item ui-sref="app.c_ex10_b">
      ii.String palindrome
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-11
    </div>
    <ion-item ui-sref="app.c_ex11_a">
      a.Largest &amp; Smallest of array
    </ion-item>
    <ion-item ui-sref="app.c_ex11_b">
      b.Call by value &amp; reference
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-12
    </div>
    <div class="item item-divider item-balanced">
      Recursive() &amp; Non-Recursive()
    </div>
    <ion-item ui-sref="app.c_ex12_a">
      a.Factorial of an Integer
    </ion-item>
    <ion-item ui-sref="app.c_ex12_b">
      b.GCD of integers
    </ion-item>
    <ion-item ui-sref="app.c_ex12_c">
      c.Fibonacci sequence
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-13
    </div>
    <div class="item item-divider item-balanced">
      Use Pointers
    </div>
    <ion-item ui-sref="app.c_ex13_a">
      a.Reverse of String
    </ion-item>
    <ion-item ui-sref="app.c_ex13_b">
      b.Compare two arrays
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-14
    </div>
    <div class="item item-divider item-balanced">
      Use Pointers
    </div>
    <ion-item ui-sref="app.c_ex14_a">
      a.Exchange value of integers
    </ion-item>
    <ion-item ui-sref="app.c_ex14_b">
      b.Swap two numbers
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-15
    </div>
    <ion-item ui-sref="app.c_ex15">
      Structures,Unions,User defined var.
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-16
    </div>
    <ion-item ui-sref="app.c_ex16_a">
      a.Copy one file to another
    </ion-item>
    <ion-item ui-sref="app.c_ex16_b">
      b.Count no of chars &amp; lines of file
    </ion-item>
    <ion-item ui-sref="app.c_ex16_c">
      c.Merge two files
    </ion-item>
    
    <!--
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    -->
    </ion-list>
  </ion-content>
</ion-view>
