<ion-view title="DS lab">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list >
    <div class="item item-divider item-dark">
      Exercise-1
    </div>
    <ion-item ui-sref="app.ds_ex1">
      Nth Fibonacci number
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-2
    </div>
    <ion-item ui-sref="app.ds_ex2_a">
      a.Factorial of an integer(Recursive)
    </ion-item>
    <ion-item ui-sref="app.ds_ex2_b">
      b.Calculation of GCD(Recursive)
    </ion-item>
    <ion-item ui-sref="app.ds_ex2_c">
      c.Towers  of  Hanoi
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-3
    </div>
    <ion-item ui-sref="app.ds_ex3_a">
      a.Linear search
    </ion-item>
    <ion-item ui-sref="app.ds_ex3_b">
      b.Binary search
    </ion-item>
    <ion-item ui-sref="app.ds_ex3_c">
      c.Fibonacci search
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-4
    </div>
    <ion-item ui-sref="app.ds_ex4_a">
      a.Bubble sort
    </ion-item>
    <ion-item ui-sref="app.ds_ex4_b">
      b.Quick sort
    </ion-item>
    <ion-item ui-sref="app.ds_ex4_c">
      c.Insertion sort
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-5
    </div>
    <ion-item ui-sref="app.ds_ex5_a">
      a.Heap sort
    </ion-item>
    <ion-item ui-sref="app.ds_ex5_b">
      b.Radix sort
    </ion-item>
    <ion-item ui-sref="app.ds_ex5_c">
      c.Merge sort
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-6
    </div>
    <ion-item ui-sref="app.ds_ex6_a">
      a.Stack using Arrays
    </ion-item>
    <ion-item ui-sref="app.ds_ex6_b">
      b.Stack using Linked list
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-7
    </div>
    <ion-item ui-sref="app.ds_ex7_a">
      a.Infix to Postfix
    </ion-item>
    <ion-item ui-sref="app.ds_ex7_b">
      b.Queue using Arrays
    </ion-item>
    <ion-item ui-sref="app.ds_ex7_c">
      c.Queue using Linked list
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-8
    </div>
    <ion-item ui-sref="app.ds_ex8_a_b_c">
      a.Create a Singly linked list
    </ion-item>
    <ion-item ui-sref="app.ds_ex8_a_b_c">
      b.Insertion on a singly linked list
    </ion-item>
    <ion-item ui-sref="app.ds_ex8_a_b_c">
      c.Deletion on a singly linked list
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-9
    </div>
    <ion-item ui-sref="app.ds_ex9_a">
      a.Adding two large integers
    </ion-item>
    <ion-item ui-sref="app.ds_ex9_b">
      b.Reverse elements of linked list
    </ion-item>
    <ion-item ui-sref="app.ds_ex9_c">
      c.Store polynomial expression
    </ion-item>
    <ion-item ui-sref="app.ds_ex9_d">
      d.Sparse  matrix  using arrays
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-10
    </div>
    <ion-item ui-sref="app.ds_ex10_a_b">
      a.Create a Binary Tree of Integers
    </ion-item>
    <ion-item ui-sref="app.ds_ex10_a_b">
      b.Traversing a binary tree
    </ion-item>
    <div class="item item-divider item-dark">
      Exercise-11
    </div>
    <ion-item ui-sref="app.ds_ex11_a">
      a.Create a BST
    </ion-item>
    <ion-item ui-sref="app.ds_ex11_b_c">
      b.Insert a note into a BST
    </ion-item>
    <ion-item ui-sref="app.ds_ex11_b_c">
      b.Delete a note from a BST
    </ion-item>
    
    <!--
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    -->
    </ion-list>
  </ion-content>
</ion-view>
