<ion-view title="Lab Manual">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <ion-list >
    <div class="item item-divider item-dark">
      1-1 And 1-2 Sem (R13)
    </div>
    <ion-item ui-sref="app.c">
      C Lab
    </ion-item>
    <div class="item item-divider item-dark">
      2-1 Sem (R13)
    </div>
    <ion-item ui-sref="app.c++">
      C++ Lab
    </ion-item>
    <div class="item item-divider item-dark">
      2-2 Sem (R13)
    </div>
    <ion-item ui-sref="app.ds">
      DS Lab
    </ion-item>
    <ion-item ui-sref="app.oscd">
      OS/CD Lab
    </ion-item>
    <div class="item item-divider item-dark">
      3-1 Sem (R10)
    </div>
    <ion-item ui-sref="app.single">
      ADS Lab
    </ion-item>
    <ion-item ui-sref="app.java">
      JAVA Lab
    </ion-item>
    <div class="item item-divider item-dark">
      3-2 Sem (R10)
    </div>
    <ion-item ui-sref="app.ajwt">
      AJWT Lab
    </ion-item>
    <ion-item ui-sref="app.unix">
      UNIX Lab
    </ion-item>
    <div class="item item-divider item-dark">
      4-1 Sem (R10)
    </div>
    <ion-item ui-sref="app.mc">
      MAD Lab
    </ion-item>
    <!--
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    -->
    </ion-list>
  </ion-content>
</ion-view>
