<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Categories</h1>
    </header>
    <ion-content class="has-header ">
      <ion-list >
        <ion-item nav-clear menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/c">
          C lab
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/c++">
          C++ lab
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/ds">
          DS lab
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          ADS lab
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/java">
          JAVA lab
        </ion-item>
        
        <ion-item nav-clear menu-close href="#/app/oscd">
          OS/CD lab
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/ajwt">
          AJWT lab
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/unix">
          UNIX lab
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/mc">
          MC lab
        </ion-item>
        <ion-item nav-clear menu-close ng-click="login()">
          Credits
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  
  
</ion-side-menus>
