<ion-view title="OS &amp; CD lab">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list >
    <div class="item item-divider item-dark">
      PART-A
    </div>
    <ion-item ui-sref='app.oscd_a1'>
      1.Design a Lexical analyzer 
    </ion-item>
    <ion-item ui-sref="app.oscd_a2">
      2.lexical analyzer using flex or lex
    </ion-item>
    <ion-item ui-sref="app.oscd_a3">
      3.Design Predictive parser 
    </ion-item>
    <ion-item ui-sref="app.oscd_a4">
      4.Design LALR bottom up parser 
    </ion-item>
    <ion-item ui-sref="app.oscd_a5">
      5.Generate abstract syntax tree
    </ion-item>
    <div class="item item-divider item-dark">
      PART-B
    </div>
    <div class="item item-divider item-dark">
      1.CPU scheduling algorithms 
    </div>
    <ion-item ui-sref="app.oscd_b1_a">
      a.FCFS
    </ion-item>
    <ion-item ui-sref="app.oscd_b1_b">
      b.SJF 
    </ion-item>
    <ion-item ui-sref="app.oscd_b1_c">
      c.Priority
    </ion-item>
    <ion-item ui-sref="app.oscd_b1_d">
      d.RoundRobin
    </ion-item>
    <div class="item item-divider item-dark">
      2.file allocation strategies
    </div>
    <ion-item ui-sref="app.oscd_b2_a">
      a.Sequential
    </ion-item>
    <ion-item ui-sref="app.oscd_b2_b">
      b.Indexed
    </ion-item>
    <ion-item ui-sref="app.oscd_b2_c">
      c.Linked
    </ion-item>
    <div class="item item-divider item-dark">
      3.MVT and MFT
    </div>
    <ion-item ui-sref="app.oscd_b3_a">
      a.MVT
    </ion-item>
    <ion-item ui-sref="app.oscd_b3_b">
      b.MFT
    </ion-item>
    <div class="item item-divider item-dark">
      4.File Organization Techniques
    </div>
    <ion-item ui-sref="app.oscd_b4_a">
      a.Single level directory 
    </ion-item>
    <ion-item ui-sref="app.oscd_b4_b">
      b.Two level 
    </ion-item>
    <ion-item ui-sref="app.oscd_b4_c">
      c.Hierarchical 
    </ion-item>
    <ion-item ui-sref="app.oscd_b4_d">
      d.DAG 
    </ion-item>
    <div class="item item-divider item-dark">
      Deadlock Problems
    </div>
   	<ion-item ui-sref="app.oscd_b5">
      5.Dead Lock Avoidance
    </ion-item>
    <ion-item ui-sref="app.oscd_b6">
      6.Dead Lock Prevention
    </ion-item> 
    <div class="item item-divider item-dark">
      7.page replacement algorithms 
    </div>
   	<ion-item ui-sref="app.oscd_b7_a">
      a.FIFO
    </ion-item>
    <ion-item ui-sref="app.oscd_b7_b">
      b.LRU
    </ion-item> 
    <ion-item ui-sref="app.oscd_b7_c">
      c.LFU
    </ion-item>
    <div class="item item-divider item-dark">
      paging 
    </div>
    <ion-item ui-sref="app.oscd_b8">
      8.Paging Technique 
    </ion-item>
    <!--
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    -->
    </ion-list>
  </ion-content>
</ion-view>
