<ion-view title="ADS lab">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list >
    <div class="item item-divider item-dark">
      ADS Lab
    </div>
    <ion-item ui-sref='app.ads_1'>
      1.Dictionary using Hashing 
    </ion-item>
    <ion-item ui-sref="app.ads_2">
      2.Operations on AVL trees
    </ion-item>
    <ion-item ui-sref="app.ads_3">
      3.Operations on 2-3 trees
    </ion-item>
    <ion-item ui-sref="app.ads_4">
      4.Operations on Binary Heap
    </ion-item>
    <ion-item ui-sref="app.ads_5">
      5.Operations on Graphs
    </ion-item>
    <ion-item ui-sref="app.ads_6">
      6.DFS for a graph non recursively
    </ion-item>
    <ion-item ui-sref="app.ads_7">
      7.BFS for a graph non recursively
    </ion-item>
    <ion-item ui-sref="app.ads_8">
      8.Prim’s algorithm
    </ion-item>
    <ion-item ui-sref="app.ads_9">
      9.Krushkal’s algorithm
    </ion-item>
    <ion-item ui-sref="app.ads_10">
      10.Dijkstra’s algorithm 
    </ion-item>
   	<ion-item ui-sref="app.ads_11">
      11.Boyer-Moore algorithm
    </ion-item>
    <ion-item ui-sref="app.ads_12">
      12.Knuth-Morris-Pratt algorithm 
    </ion-item> 
    <!--
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    -->
    </ion-list>
  </ion-content>
</ion-view>
