<ion-view title="Exercise-7">
  <ion-content class="has-header">
  	<div class="item item-divider item-dark">
      AIM
    </div>
    <div class="card ">
    	<p>
        Write C programs that implement Queue (its operations) using arrays.
		  </p>
    </div>
    <div class="item item-divider item-dark">
      PROGRAM
    </div>
    <div class="card">
    	 <div class="c" style="font-family:monospace;color: #006; border: 1px solid #d0d0d0; background-color: #f0f0f0;"><span style="color: #339933;">#include &lt;stdio.h&gt;</span><br />
<br />
<br />
<br />
<span style="color: #339933;">#define MAX 50</span><br />
<br />
<span style="color: #993333;">int</span> queue_array<span style="color: #009900;">&#91;</span>MAX<span style="color: #009900;">&#93;</span><span style="color: #339933;">;</span><br />
<br />
<span style="color: #993333;">int</span> rear <span style="color: #339933;">=</span> <span style="color: #339933;">-</span> <span style="color: #0000dd;">1</span><span style="color: #339933;">;</span><br />
<br />
<span style="color: #993333;">int</span> front <span style="color: #339933;">=</span> <span style="color: #339933;">-</span> <span style="color: #0000dd;">1</span><span style="color: #339933;">;</span><br />
<br />
main<span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span><br />
<br />
<span style="color: #009900;">&#123;</span><br />
<br />
&nbsp; &nbsp; <span style="color: #993333;">int</span> choice<span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; <span style="color: #b1b100;">while</span> <span style="color: #009900;">&#40;</span><span style="color: #0000dd;">1</span><span style="color: #009900;">&#41;</span><br />
<br />
&nbsp; &nbsp; <span style="color: #009900;">&#123;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #000066;">printf</span></a><span style="color: #009900;">&#40;</span><span style="color: #ff0000;">&quot;1.Insert element to queue <span style="color: #000099; font-weight: bold;">\n</span>&quot;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #000066;">printf</span></a><span style="color: #009900;">&#40;</span><span style="color: #ff0000;">&quot;2.Delete element from queue <span style="color: #000099; font-weight: bold;">\n</span>&quot;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #000066;">printf</span></a><span style="color: #009900;">&#40;</span><span style="color: #ff0000;">&quot;3.Display all elements of queue <span style="color: #000099; font-weight: bold;">\n</span>&quot;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #000066;">printf</span></a><span style="color: #009900;">&#40;</span><span style="color: #ff0000;">&quot;4.Quit <span style="color: #000099; font-weight: bold;">\n</span>&quot;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #000066;">printf</span></a><span style="color: #009900;">&#40;</span><span style="color: #ff0000;">&quot;Enter your choice : &quot;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; scanf<span style="color: #009900;">&#40;</span><span style="color: #ff0000;">&quot;%d&quot;</span><span style="color: #339933;">,</span> <span style="color: #339933;">&amp;</span>choice<span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #b1b100;">switch</span> <span style="color: #009900;">&#40;</span>choice<span style="color: #009900;">&#41;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #009900;">&#123;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #b1b100;">case</span> <span style="color: #0000dd;">1</span><span style="color: #339933;">:</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; insert<span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #000000; font-weight: bold;">break</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #b1b100;">case</span> <span style="color: #0000dd;">2</span><span style="color: #339933;">:</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; delete<span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #000000; font-weight: bold;">break</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #b1b100;">case</span> <span style="color: #0000dd;">3</span><span style="color: #339933;">:</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; display<span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #000000; font-weight: bold;">break</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #b1b100;">case</span> <span style="color: #0000dd;">4</span><span style="color: #339933;">:</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; exit<span style="color: #009900;">&#40;</span><span style="color: #0000dd;">1</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #b1b100;">default</span><span style="color: #339933;">:</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #000066;">printf</span></a><span style="color: #009900;">&#40;</span><span style="color: #ff0000;">&quot;Wrong choice <span style="color: #000099; font-weight: bold;">\n</span>&quot;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #009900;">&#125;</span> <span style="color: #808080; font-style: italic;">/*End of switch*/</span><br />
<br />
&nbsp; &nbsp; <span style="color: #009900;">&#125;</span> <span style="color: #808080; font-style: italic;">/*End of while*/</span><br />
<br />
<span style="color: #009900;">&#125;</span> <span style="color: #808080; font-style: italic;">/*End of main()*/</span><br />
<br />
insert<span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span><br />
<br />
<span style="color: #009900;">&#123;</span><br />
<br />
&nbsp; &nbsp; <span style="color: #993333;">int</span> add_item<span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; <span style="color: #b1b100;">if</span> <span style="color: #009900;">&#40;</span>rear <span style="color: #339933;">==</span> MAX <span style="color: #339933;">-</span> <span style="color: #0000dd;">1</span><span style="color: #009900;">&#41;</span><br />
<br />
&nbsp; &nbsp; <span style="color: #000066;">printf</span></a><span style="color: #009900;">&#40;</span><span style="color: #ff0000;">&quot;Queue Overflow <span style="color: #000099; font-weight: bold;">\n</span>&quot;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; <span style="color: #b1b100;">else</span><br />
<br />
&nbsp; &nbsp; <span style="color: #009900;">&#123;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #b1b100;">if</span> <span style="color: #009900;">&#40;</span>front <span style="color: #339933;">==</span> <span style="color: #339933;">-</span> <span style="color: #0000dd;">1</span><span style="color: #009900;">&#41;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #808080; font-style: italic;">/*If queue is initially empty */</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; front <span style="color: #339933;">=</span> <span style="color: #0000dd;">0</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #000066;">printf</span></a><span style="color: #009900;">&#40;</span><span style="color: #ff0000;">&quot;Inset the element in queue : &quot;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; scanf<span style="color: #009900;">&#40;</span><span style="color: #ff0000;">&quot;%d&quot;</span><span style="color: #339933;">,</span> <span style="color: #339933;">&amp;</span>add_item<span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; rear <span style="color: #339933;">=</span> rear <span style="color: #339933;"~ezentity_gt+ezentity_lt~/span> <span style="color: #0000dd;">1</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; queue_array<span style="color: #009900;">&#91;</span>rear<span style="color: #009900;">&#93;</span> <span style="color: #339933;">=</span> add_item<span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; <span style="color: #009900;">&#125;</span><br />
<br />
<span style="color: #009900;">&#125;</span> <span style="color: #808080; font-style: italic;">/*End of insert()*/</span><br />
<br />
<br />
<br />
delete<span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span><br />
<br />
<span style="color: #009900;">&#123;</span><br />
<br />
&nbsp; &nbsp; <span style="color: #b1b100;">if</span> <span style="color: #009900;">&#40;</span>front <span style="color: #339933;">==</span> <span style="color: #339933;">-</span> <span style="color: #0000dd;">1</span> <span style="color: #339933;">||</span> front <span style="color: #339933;">&gt;</span> rear<span style="color: #009900;">&#41;</span><br />
<br />
&nbsp; &nbsp; <span style="color: #009900;">&#123;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #000066;">printf</span></a><span style="color: #009900;">&#40;</span><span style="color: #ff0000;">&quot;Queue Underflow <span style="color: #000099; font-weight: bold;">\n</span>&quot;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #b1b100;">return</span> <span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; <span style="color: #009900;">&#125;</span><br />
<br />
&nbsp; &nbsp; <span style="color: #b1b100;">else</span><br />
<br />
&nbsp; &nbsp; <span style="color: #009900;">&#123;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #000066;">printf</span></a><span style="color: #009900;">&#40;</span><span style="color: #ff0000;">&quot;Element deleted from queue is : %d<span style="color: #000099; font-weight: bold;">\n</span>&quot;</span><span style="color: #339933;">,</span> queue_array<span style="color: #009900;">&#91;</span>front<span style="color: #009900;">&#93;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; front <span style="color: #339933;">=</span> front <span style="color: #339933;"~ezentity_gt+ezentity_lt~/span> <span style="color: #0000dd;">1</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; <span style="color: #009900;">&#125;</span><br />
<br />
<span style="color: #009900;">&#125;</span> <span style="color: #808080; font-style: italic;">/*End of delete() */</span><br />
<br />
display<span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span><br />
<br />
<span style="color: #009900;">&#123;</span><br />
<br />
&nbsp; &nbsp; <span style="color: #993333;">int</span> i<span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; <span style="color: #b1b100;">if</span> <span style="color: #009900;">&#40;</span>front <span style="color: #339933;">==</span> <span style="color: #339933;">-</span> <span style="color: #0000dd;">1</span><span style="color: #009900;">&#41;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #000066;">printf</span></a><span style="color: #009900;">&#40;</span><span style="color: #ff0000;">&quot;Queue is empty <span style="color: #000099; font-weight: bold;">\n</span>&quot;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; <span style="color: #b1b100;">else</span><br />
<br />
&nbsp; &nbsp; <span style="color: #009900;">&#123;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #000066;">printf</span></a><span style="color: #009900;">&#40;</span><span style="color: #ff0000;">&quot;Queue is : <span style="color: #000099; font-weight: bold;">\n</span>&quot;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #b1b100;">for</span> <span style="color: #009900;">&#40;</span>i <span style="color: #339933;">=</span> front<span style="color: #339933;">;</span> i <span style="color: #339933;">&lt;=</span> rear<span style="color: #339933;">;</span> i<span style="color: #339933;">++</span><span style="color: #009900;">&#41;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #000066;">printf</span></a><span style="color: #009900;">&#40;</span><span style="color: #ff0000;">&quot;%d &quot;</span><span style="color: #339933;">,</span> queue_array<span style="color: #009900;">&#91;</span>i<span style="color: #009900;">&#93;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #000066;">printf</span></a><span style="color: #009900;">&#40;</span><span style="color: #ff0000;">&quot;<span style="color: #000099; font-weight: bold;">\n</span>&quot;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span><br />
<br />
&nbsp; &nbsp; <span style="color: #009900;">&#125;</span><br />
<br />
<span style="color: #009900;">&#125;</span> <span style="color: #808080; font-style: italic;">/*End of display() */</span><br />
&nbsp;</div>
    </div>
    <div class="item item-divider item-dark">
      OUTPUT
    </div>
    <div class="card">
    	<div class="c" style="font-family:monospace;color: #006; border: 1px solid #d0d0d0; background-color: #f0f0f0;"><span style="color: #0000dd;">1</span>.<span style="color: #202020;">Insert</span> element to queue<br />
<span style="color: #0000dd;">2</span>.<span style="color: #202020;">Delete</span> element from queue<br />
<span style="color: #0000dd;">3</span>.<span style="color: #202020;">Display</span> all elements of queue<br />
<span style="color: #0000dd;">4</span>.<span style="color: #202020;">quit</span><br />
Enter your choice <span style="color: #339933;">:</span> <span style="color: #0000dd;">1</span><br />
Insert the element in queue <span style="color: #339933;">:</span> <span style="color: #0000dd;">12</span><br />
<span style="color: #0000dd;">1</span>.<span style="color: #202020;">Insert</span> element to queue<br />
<span style="color: #0000dd;">2</span>.<span style="color: #202020;">Delete</span> element from queue<br />
<span style="color: #0000dd;">3</span>.<span style="color: #202020;">Display</span> all elements of queue<br />
<span style="color: #0000dd;">4</span>.<span style="color: #202020;">quit</span><br />
Enter your choice <span style="color: #339933;">:</span> <span style="color: #0000dd;">1</span><br />
Insert the element in queue <span style="color: #339933;">:</span> <span style="color: #0000dd;">34</span><br />
<span style="color: #0000dd;">1</span>.<span style="color: #202020;">Insert</span> element to queue<br />
<span style="color: #0000dd;">2</span>.<span style="color: #202020;">Delete</span> element from queue<br />
<span style="color: #0000dd;">3</span>.<span style="color: #202020;">Display</span> all elements of queue<br />
<span style="color: #0000dd;">4</span>.<span style="color: #202020;">quit</span><br />
Enter your choice <span style="color: #339933;">:</span> <span style="color: #0000dd;">3</span><br />
Queue is <span style="color: #339933;">:</span><br />
<span style="color: #0000dd;">12</span> <span style="color: #0000dd;">34</span><br />
<span style="color: #0000dd;">1</span>.<span style="color: #202020;">Insert</span> element to queue<br />
<span style="color: #0000dd;">2</span>.<span style="color: #202020;">Delete</span> element from queue<br />
<span style="color: #0000dd;">3</span>.<span style="color: #202020;">Display</span> all elements of queue<br />
<span style="color: #0000dd;">4</span>.<span style="color: #202020;">quit</span><br />
Enter your choice <span style="color: #339933;">:</span> <span style="color: #0000dd;">2</span><br />
Element deleted from queue is <span style="color: #339933;">:</span> <span style="color: #0000dd;">12</span><br />
<span style="color: #0000dd;">1</span>.<span style="color: #202020;">Insert</span> element to queue<br />
<span style="color: #0000dd;">2</span>.<span style="color: #202020;">Delete</span> element from queue<br />
<span style="color: #0000dd;">3</span>.<span style="color: #202020;">Display</span> all elements of queue<br />
<span style="color: #0000dd;">4</span>.<span style="color: #202020;">quit</span><br />
Enter your choice <span style="color: #339933;">:</span> <span style="color: #0000dd;">3</span><br />
Queue is <span style="color: #339933;">:</span><br />
<span style="color: #0000dd;">34</span><br />
<span style="color: #0000dd;">1</span>.<span style="color: #202020;">Insert</span> element to queue<br />
<span style="color: #0000dd;">2</span>.<span style="color: #202020;">Delete</span> element from queue<br />
<span style="color: #0000dd;">3</span>.<span style="color: #202020;">Display</span> all elements of queue<br />
<span style="color: #0000dd;">4</span>.<span style="color: #202020;">quit</span><br />
Enter your choice <span style="color: #339933;">:</span> <span style="color: #0000dd;">4</span> </div>
    </div>
  </ion-content>
</ion-view>
